.dashboard-content {
  padding: 1rem;
}

.filter-controls {
  padding-bottom: 1rem;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

rux-progress {
  width: 100%;
}
